* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    height: 100%;
    width: 100%;
}
#root {
    display: flex;
    padding: 20px;
    gap: 20px;
}

body {
    background: #fff;
}

/* ===== TOPO ===== */
.top-bar {
    display: flex;
    align-items: center;
    height: 90px;
    gap: 20px;
    padding: 10px 20px;
    background-image: linear-gradient(to right, rgb(24, 9, 72),rgb(26, 0, 112));
    border-bottom: 1px solid #080023;
}

.logo {
    font-size: 40px;
    font-weight: bold;
    color: aliceblue;
    font-family: cursive;
}

.menu button {
    padding: 6px 22px;
    height: 60px;
    border: 1px solid #aaa;
    background: #fff;
    cursor: pointer;
    font-family:cursive;
    border-radius: 10px;
}

.menu button:hover {
    background: #f0f0f0;
}

.search {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 5px;
}

.search input {
    height: 40px;
    border-radius: 10px;
    background-color: #fff;
    width: 500px;
    padding: 6px;
    border: 1px solid #000000;
}
#nome-de-usuario{
    color: #fff;
}
.lupa {
    border: 1px solid #000000;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 6px 10px;
    cursor: pointer;
}

.user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.avatar {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 50%;
}

.menu-icon {
    cursor: pointer;
    color: #fff;
    font-size: 50px;
    -webkit-text-stroke-width: 1px; /* Largura da borda */
    -webkit-text-stroke-color: black; 
}