
#dados-gerais-do-manga{
    border: solid 1px black;
    border-radius: 1vw;
    background-color: rgb(34, 0, 58);
    margin: 10px;
    padding: 15px;
    width:auto;
    height: auto;
    display: flex;
    flex-direction: row;
}
.texto-capitulo{
    font-family: fantasy;
}
.genero-de-generos:hover{
    color: rgb(247, 241, 255);
    cursor: pointer;
}
.numero-capitulo-container{
    display:flex;
    margin:0 5px 0 5px;
    align-items: center;
}
.texto-informacoes{
    color: rgb(16, 0, 24);

    font-size: 130%;
    font-family: cursive;
    margin: 10px;
    height:5% ;
    width: auto;
}
.genero-de-generos{
    font-size: 110%;
    font-family: cursive;
}
img{
    border-radius: 1vw;
}
#generos{
    display: block;
}
.margem{
    margin: 5px 0 5px 5px;
}
label{
    font-size: 130%;
    font-family:fantasy;
    color: rgb(14, 0, 20);
}
#informacoes-e-configuracoes{
    border: solid 1px black;
    display: flex;
    background-color: rgb(70, 3, 152);
    border-radius: 1vw;
    flex-direction: column;
    margin: 5px;
    flex: 1;
    height: auto;
    width: auto;
}

#sinopse{
    height: 30%;
}

#container-comentarios{
    border: none;
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: 4vh;
    margin: 5px ;
}
.container-capitulo:hover{
    background-color: cornsilk;
}
.container-capitulo{
    display: flex;
    align-items: center;
    justify-items: center;
    border: solid 1px black;
    background-color: #5500d3;
    /* padding: 5px 5px 5px 20px; */
    margin: 5px;
    width: auto;
    height: auto;
    flex-direction: row;
}

#container-capitulos{
    background-color:#150035;
    min-height: 50px;
    border: solid 1px black;
    height: auto;
    margin: 10px;
}

#configuracoes-do-manga{
    /* border: solid 1px black; */
    display: flex;
    flex-direction: row;
    margin: 5px;
    height: auto;
    flex: 1;
    width: auto;
}
.texto-informacoes{
    margin: 0;
    font-size: 130%;
    font-family: cursive;
}

#capa-do-manga{
    border: solid 1px black;
    background-color: azure;
    margin: 5px;
    width: 38%;
    height: auto;
}
.numero-capitulo{
    font-family: fantasy;
    margin: 5px;

}
#comentarios{
    border-radius: 10%;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    display: flex;
    background-color: #5500d3;
    gap: 8px;
}
#comentarios-img{
    width: 95%;
    /* flex: 1; */
}
#root{
    background-image: linear-gradient(to right, #6600c5, #150035, #5500d3, #150035);
}
#campos-do-manga{
    width: 65%;
    height: auto;
}

#ranking{
    background-color: rgb(25, 0, 38);
    border: solid 1px black;
    width: 30%;
    height: 100vh;
}

