
/* ===== LISTA DE MANGÁS ===== */
#mangas {
    flex: 3;
}
.capa-manga {
    width: 100%;
    flex: 1;                 /* 🔥 ocupa todo o espaço livre do card */
    border: 1px solid #000;
    margin-bottom: 5px;

    background: #eee;        /* só pra visualizar */
    display: block;
}

.container-mangas-genero{
    border: solid 1px #000000;
    height: 45%;
    width: 90%;
}

.titulo-manga {
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
}

.manga {
      flex: 0 0 120px;
    height: 100%; /* agora funciona */

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 6px;
    border: 1px solid #000;
    text-align: center;
    cursor: pointer;
}
.genero {
    margin-bottom: 30px;
}

.genero h2 {
    margin-bottom: 10px;
}

.seta {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #000;
    margin: 5px;
    background: #fff;
    cursor: pointer;
    z-index: 2;
}

.seta:hover {
    background: #eaeaea;
}

.seta.esquerda {
    margin-right: 8px;
}

.seta.direita {
    margin-left: 8px;
}

.carousel-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    height: 230px;
    width: 75vw;
    overflow: hidden; /* 🔥 corta o excesso */
    border: solid 1px black;
}

.carousel {
    border: solid 1px black;
    display: flex;
    gap: 16px;
    padding: 10px;
    width: 100%;
    height: 220px;

    overflow-x: hidden;   /* 🔥 ESSENCIAL */
    scroll-behavior: smooth;
    align-items: stretch;
}

.items {
    flex: 1;
    text-align: center;
}

.arrow {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #000;
    background: #fff;
    cursor: pointer;
}

.arrow:hover {
    background: #eaeaea;
}

/* ===== RANKING ===== */
.ranking {
    flex: 1;
    border: 1px solid #aaa;
    padding: 20px;
}

.ranking h2 {
    text-align: center;
    margin-bottom: 20px;
}

.ranking p {
    text-align: center;
}
